---
import Article from '@/components/Article.astro'
import AsideArticle from '@/components/AsideArticle.astro'
import Breadcrumb from '@/components/Breadcrumb.astro'
import Layout from '@/layouts/Layout.astro'
import type { ArticleFrontmatter, Heading } from '@/lib/types'
import { formatDate } from '@/lib/utils'
import Typography from '@/ui/Typography.astro'

interface Props {
  url: string
  headings: Heading[]
  frontmatter: ArticleFrontmatter
}

const {
  url,
  headings,
  frontmatter: { title, sortTitle, date, lastEdit }
} = Astro.props
---

<Layout title={`${sortTitle} - Today I Learned by Franco Lloveras`}>
  <main class="mt-12 block md:flex justify-center p-4">
    <AsideArticle url={url} headings={headings} />
    <article class="w-full lg:w-2/3 xl:w-1/3">
      <Breadcrumb />
      <header class="mt-1">
        <Typography as="h1" variant="title">{title}</Typography>
        <Typography as="p" variant="sub_title" class="inline-flex">
          {formatDate(date)}
          {lastEdit && <span class="ml-1">&bullet; Edited: {formatDate(lastEdit)}</span>}
        </Typography>
      </header>
      <Article>
        <slot />
      </Article>
    </article>
  </main>
</Layout>
